<html>
    <head>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawVisualization);

        function drawVisualization() {
            // Create and populate the data table.
            var data = google.visualization.arrayToDataTable([
                ['Date', 'Daily Temp', 'BTF - wetsuit on', 'BTF - too cold'],
                ['28-Mar', 00.0, 14, 11],
                ['29-Mar', 03.9, 14, 11],
                ['30-Mar', 00.0, 14, 11],
                ['31-Mar', 00.0, 14, 11],
                ['01-Apr', 03.5, 14, 11],
                ['02-Apr', 04.3, 14, 11],
                ['03-Apr', 04.8, 14, 11],
                ['04-Apr', 04.5, 14, 11],
                ['05-Apr', 00.0, 14, 11],
                ['06-Apr', 00.0, 14, 11],
                ['07-Apr', 04.9, 14, 11],
                ['08-Apr', 00.0, 14, 11],
                ['09-Apr', 00.0, 14, 11],
                ['10-Apr', 00.0, 14, 11],
                ['11-Apr', 06.4, 14, 11],
                ['12-Apr', 06.5, 14, 11],
                ['13-Apr', 00.0, 14, 11],
                ['14-Apr', 09.5, 14, 11],
                ['15-Apr', 08.9, 14, 11],
                ['16-Apr', 08.4, 14, 11],
                ['17-Apr', 12.0, 14, 11],
                ['18-Apr', 00.0, 14, 11],
                ['19-Apr', 12.3, 14, 11],
                ['20-Apr', 00.0, 14, 11],
                ['21-Apr', 12.4, 14, 11],
                ['22-Apr', 12.9, 14, 11],
                ['23-Apr', 13.0, 14, 11],
                ['24-Apr', 14.2, 14, 11],
                ['25-Apr', 15.6, 14, 11],
                ['26-Apr', 15.5, 14, 11],
                ['27-Apr', 15.1, 14, 11],
                ['28-Apr', 00.0, 14, 11],
                ['29-Apr', 14.0, 14, 11],
                ['30-Apr', 00.0, 14, 11],
                ['01-May', 00.0, 14, 11],
                ['02-May', 14.4, 14, 11],
                ['03-May', 00.0, 14, 11],
                ['04-May', 14.6, 14, 11],
                ['05-May', 14.9, 14, 11],
                ['06-May', 00.0, 14, 11],
                ['07-May', 16.3, 14, 11],
                ['08-May', 16.4, 14, 11],
                ['09-May', 15.5, 14, 11],
                ['10-May', 00.0, 14, 11],
                ['11-May', 15.2, 14, 11],
                ['12-May', 15.3, 14, 11],
                ['13-May', 00.0, 14, 11],
                ['14-May', 00.0, 14, 11],
                ['15-May', 00.0, 14, 11],
                ['16-May', 00.0, 14, 11],
                ['17-May', 00.0, 14, 11],
                ['18-May', 00.0, 14, 11],
                ['19-May', 14.1, 14, 11],
                ['20-May', 15.2, 14, 11],
                ['21-May', 13.4, 14, 11],
                ['22-May', 11.6, 14, 11],
                ['23-May', 13.1, 14, 11],
                ['24-May', 00.0, 14, 11],
                ['25-May', 00.0, 14, 11],
                ['26-May', 14.2, 14, 11],
                ['27-May', 14.2, 14, 11],
                ['28-May', 15.4, 14, 11],
                ['29-May', 14.5, 14, 11],
                ['30-May', 15.5, 14, 11],
                ['31-May', 14.5, 14, 11],
                ['01-Jun', 15.6, 14, 11],
                ['02-Jun', 15.8, 14, 11],
                ['03-Jun', 16.4, 14, 11],
                ['04-Jun', 17.0, 14, 11],
                ['05-Jun', 17.8, 14, 11],
                ['06-Jun', 18.1, 14, 11],
                ['07-Jun', 18.8, 14, 11],
                ['08-Jun', 18.2, 14, 11],
                ['09-Jun', 18.4, 14, 11],
                ['10-Jun', 18.2, 14, 11],
                ['11-Jun', 00.0, 14, 11],
                ['12-Jun', 15.8, 14, 11],
                ['13-Jun', 17.2, 14, 11],
                ['14-Jun', 17.7, 14, 11],
                ['15-Jun', 16.7, 14, 11],
                ['16-Jun', 00.0, 14, 11],
                ['17-Jun', 16.5, 14, 11],
                ['18-Jun', 17.5, 14, 11],
                ['19-Jun', 17.4, 14, 11],
                ['20-Jun', 19.3, 14, 11],
                ['21-Jun', 19.6, 14, 11],
                ['22-Jun', 00.0, 14, 11],
                ['23-Jun', 00.0, 14, 11],
                ['24-Jun', 19.4, 14, 11],
                ['25-Jun', 18.0, 14, 11],
                ['26-Jun', 00.0, 14, 11],
                ['27-Jun', 18.5, 14, 11],
                ['28-Jun', 20.0, 14, 11],
                ['29-Jun', 18.6, 14, 11],
                ['30-Jun', 00.0, 14, 11],
                ['01-Jul', 20.5, 14, 11],
                ['02-Jul', 19.0, 14, 11],
                ['03-Jul', 19.8, 14, 11],
                ['04-Jul', 18.0, 14, 11],
                ['05-Jul', 19.0, 14, 11],
                ['06-Jul', 00.0, 14, 11],
                ['07-Jul', 22.0, 14, 11],
                ['08-Jul', 22.1, 14, 11],
                ['09-Jul', 22.3, 14, 11],
                ['10-Jul', 23.1, 14, 11],
                ['11-Jul', 00.0, 14, 11],
                ['12-Jul', 21.6, 14, 11],
                ['13-Jul', 22.0, 14, 11],
                ['14-Jul', 00.0, 14, 11],
                ['15-Jul', 24.4, 14, 11],
                ['16-Jul', 00.0, 14, 11],
                ['17-Jul', 25.6, 14, 11],
                ['18-Jul', 00.0, 14, 11],
                ['19-Jul', 22.9, 14, 11],
                ['20-Jul', 23.8, 14, 11],
                ['21-Jul', 22.2, 14, 11],
                ['22-Jul', 00.0, 14, 11],
                ['23-Jul', 00.0, 14, 11],
                ['24-Jul', 23.9, 14, 11],
                ['25-Jul', 23.9, 14, 11],
                ['26-Jul', 23.0, 14, 11],
                ['27-Jul', 23.8, 14, 11],
                ['28-Jul', 00.0, 14, 11],
                ['29-Jul', 22.9, 14, 11],
                ['30-Jul', 22.4, 14, 11],
                ['31-Jul', 22.1, 14, 11],
                ['01-Aug', 21.7, 14, 11],
                ['02-Aug', 23.3, 14, 11],
                ['04-Aug', 22.0, 14, 11],
                ['05-Aug', 22.4, 14, 11],
                ['06-Aug', 22.1, 14, 11],
                ['07-Aug', 22.0, 14, 11],
                ['08-Aug', 22.7, 14, 11],
                ['09-Aug', 00.0, 14, 11],
                ['10-Aug', 19.5, 14, 11],
                ['11-Aug', 21.1, 14, 11],
                ['12-Aug', 22.5, 14, 11],
                ['13-Aug', 00.0, 14, 11],
                ['14-Aug', 20.3, 14, 11],
                ['15-Aug', 20.9, 14, 11],
                ['16-Aug', 20.8, 14, 11],
                ['17-Aug', 20.8, 14, 11],
                ['18-Aug', 20.3, 14, 11],
                ['19-Aug', 20.1, 14, 11],
                ['20-Aug', 20.2, 14, 11],
                ['21-Aug', 20.2, 14, 11],
                ['22-Aug', 21.6, 14, 11],
                ['23-Aug', 21.2, 14, 11],
                ['24-Aug', 22.1, 14, 11],
                ['25-Aug', 21.2, 14, 11],
                ['26-Aug', 21.5, 14, 11],
                ['27-Aug', 21.6, 14, 11],
                ['28-Aug', 21.5, 14, 11],
                ['29-Aug', 21.1, 14, 11],
                ['30-Aug', 00.0, 14, 11],
                ['31-Aug', 22.2, 14, 11],
            ]);

            // Create and draw the visualization.
            var ac = new google.visualization.ComboChart(document.getElementById('visualization'));
            ac.draw(data, {
                title : 'Daily Water Temperature, Brockwell Lido, 2013 (@brockwelllido)',
                width: '100%',
                height: '500',
                vAxis: {title: "Temp (C)"},
                seriesType: "bars",
                series: {1: {type: "steppedArea"}, 2: {type: "steppedArea"}}
            });
        }
        </script>
    </head>
    <body>
        <h1>Water Temperature at Brockwell Lido, 2013 Season</h1>
        {% if browser=='msie' %}
            <div width="100%" style="background-color: red;line-height: 1.2em;color: white;padding: 10px;">
                Sorry, Internet Explorer isn't supported; please use Chrome, Firefox, Safari instead.</div>
        {% else %}
            <p>Temperatures taken from @brockwelllido Tweets (hover over bars to see exact daily values).</p>
            <div id="visualization"></div>
            <p>Red line used to illustrate temperature at which
                I (@hugorodgerbrown) would consider it warm enough to swim without 
                a wetsuit (14<sup>o</sup>C).</p>
            <p>Turns out I'm not the only one who thinks 14<sup>o</sup>C is a sensible limit -
                the British Triathlon Federation use it as a mandatory wetsuit temperature. I've
                now added in their lower limit - 11<sup>o</sup>C, below which they don't recommend
                open water swimming. I would recommend it, but I think we can now use this as the
                official 'cold water' level.
            <p><i>(Disclaimer: this was done in an hour over the Bank Holiday - so don't expect too much. If, 
                however, you would like to improve it or contribute, it's available on <a href="https://github.com/hugorodgerbrown/lido-temp">Github</a>.)</i></p>
        {% endif %}
    </body>
</html>